# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

out
gen

# IntelliJ project files
.idea
*.iml
*.ipr
*.iws

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath


# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

